<div class="container">
    <div class="row">
        <div class="col-lg-5 shadow m-auto p-4 mt-5 rounded rounded-3">
            <div>
                <label>Name : </label>
                <span> {{name | titlecase}}</span>
            </div>
            <div class="mt-2">
                <label>Email : </label>
                <span> {{email | titlecase}}</span>
            </div>
            <div class="mt-2">
                <label>Contact No : </label>
                <span> {{contactNo}}</span>
            </div>
            <div class="mt-2">
                <label>Passport Number</label>
                <span> {{passportNo}}</span>
            </div>
            <div class="mt-2">
                <label>City : </label>
                <span> {{city | titlecase}}</span>
            </div>
            <div class="mt-2">
                <label>State : </label>
                <span> {{state | titlecase}}</span>
            </div>
            <div class="mt-2">
                <label>Country : </label>
                <span> {{country | titlecase}}</span>
            </div>
        </div>
    </div>
</div>