<section class="shadow pt-3 pb-3" style="border-bottom: 1px solid #ddd;">
    <div class="container-fluid px-4">
        <div class="headerRow">
            <div class="d-flex justify-content-between" style="align-items: center;">
                <div style="width: 12%;">
                    <img class="w-100" src="../../../../assets/DSlogo.png" />
                </div>
                <div class="form-group position-relative" style="width: 30%;">
                    <input type="search" class="form-control" placeholder="Search" style="border-radius: 50px;" />
                    <span class="searchIcon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <div class="userName">
                   <span>Welcome Ashish</span>
                </div>
            </div>
        </div>
    </div>
</section>